<div class="user-admin-data-form row">
  <%= form_with(model: user, local: true) do |form|%>
    <% if user.errors.any? %>
    <div class="error-explanation">

      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
  
        <ul>
        <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="field">
        <%= form.text_field :name, placeholder: "Full Name" %>
    </div>

    <div class="field">
      <%= form.text_field :email, placeholder: 'Email Address' %>
    </div>
    

    <div class="field">
      <%= form.text_field :username, placeholder: "Username" %>
      <h5>Username can contain any letter and an underscore</h6>
    </div>

    <div class="field">
        <%= form.password_field :password, placeholder: "Password" %>
        <h5>Password must contain a lowercase, uppercase and any special character</h6>
      </div>
    
    <% if controller.action_name == 'edit'%>
    <div class="field">
        <%= form.number_field :age, placeholder: "Age" %>
    </div>
    
  
    <div class="field">
        <%= form.text_field :nationality, placeholder: "Nationality" %>
    </div>
  
    <div class="field">
        <%= form.text_field :gender, placeholder: "Gender" %>
    </div>
    
  
    <% end %>
    <div class="actions">
      <%= form.submit yield(:button_text)) %>
    </div>
  <% end %>
</div>
