
<h1 class = "admin-users-table-title center-aligned-text">Users</h1>

<table class="users-table row">
  <tr>
    <th class="users-table-header">Full name</th>
    <th class="users-table-header">Username</th>
    <th class="users-table-header">Email</th>
    <th class="users-table-header">Age</th>
    <th class="users-table-header">Nationality</th>
    <th class="users-table-header">Gender</th>
    <th class="users-table-header">View Profile</th>
    <th class="users-table-header">Edit User</th>
    <th class="users-table-header">Delete User</th>
  </tr>
  <% @users.each do |user| %>
    <tr class="user">
        <td class="user-admin-dashboard-details"><%= user.name %></td>
        <td class="user-admin-dashboard-details"><%= user.username %></td>
        <td class="user-admin-dashboard-details"><%= user.email %></td>
        <td class="user-admin-dashboard-details"><%= user.age %></td>
        <td class="user-admin-dashboard-details"><%= user.nationality %></td>
        <td class="user-admin-dashboard-details"><%= user.gender %></td>
        <td class="user-admin-dashboard-controls admin-user-show"><%= link_to 'Show', user %></td>
        <td class="user-admin-dashboard-controls admin-user-edit"><%= link_to 'Edit', edit_user_path(user) %></td>
        <td class="user-admin-dashboard-controls admin-user-delete"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }%></td>
    </tr>
  <% end %>
</table>

<br>

<div class="new-admin-user-button-container row container">
  <%= link_to 'New User', signup_path, class: 'new-admin-user-button' %>
</div>
