<div class="user-profile-header">
  <%  if logged_in? && @user == current_user %>
    <%= link_to 'Edit your profile', edit_user_path(@user), class: 'edit-user-button' %> 
  <% end %>

  <div class="user-profile-info row">
    <div class="user-profile-image">
      <%= gravatar_for @user %>
    </div>
    <div class="user-name-follow-button-and-username column">
      <div class="name-username-container">
          <p>
            <strong>
              <%= @user.username %>
            </strong>
          </p>
          <p>
            <%= @user.name %>
          </p>
      </div>
      <div class="profile-count-container row">
        <div class="count">
          <div class="count-title">
            <p>Followers</p>
          </div>
          <div class="count-data">
            <p>0</p>
          </div>
        </div>
        <div class="count">
          <div class="count-title">
            <p>Followers</p>
          </div>
          <div class="count-data">
            <p>0</p>
          </div>
        </div>
      </div>
      <div class="profile-follow-container row">
        <%= link_to  "Follow", edit_user_path(@user), class:'profile-follow-button'%>
      </div>
    </div>
  </div>

  </div>
</div>

