<div class="column menu-menu" id="menu-modal">
    <span id="close">
        &times
    </span>
    <ul>
        <li><%= link_to  "Home", root_path %></li>
        <% if logged_in? %>
            <li><%= link_to  "Profile", user_path(current_user) %></li>
            <li><%= link_to  "Logout", logout_path %></li>
        <% end %>
        <% unless logged_in? %>
            <li><%= link_to  "Login", login_path %></li>
            <li><%= link_to  "Sign up", signup_path %></li>
        <% end %>
    </ul>
</div>