<% unless controller.action_name == 'new' %>
    <%= link_to asset_path('Logo.png'), root_path, class: 'logo' %>
    <div class="nav-user-actions">
        <% unless current_user.nil? %>
            <% unless controller.controller_name == 'users' && controller.action_name == 'show' %>
                <%= link_to  "Profile", current_user, class: 'profile-btn' %>
            <% end %>
            <%= link_to  "Logout", logout_path, method: :delete%> 
        <% end %>
        <% unless logged_in? %>
            <%= link_to  "Login", login_path, class: 'nav-login-btn' %>
            <%= link_to  "Sign up", signup_path, class: 'nav-signup-btn' %>
        <% end %>
    </div>
<% end %>