<% unless controller.action_name == 'new' %>
<%= image_tag 'Logo', class: 'logo' %>

    <div class="nav-site-links">
        <% unless controller.action_name == 'landing_page' %>
            <%= link_to  "Home", root_path %>
        <% end %>
    </div>
    
    
    <div class="nav-user-actions">
        <% unless current_user.nil? %>
            <%= link_to  "Logout", logout_path, method: :delete%> 
        <% end %>
        <% unless logged_in? %>
            <%= link_to  "Login", login_path, class: 'nav-login-btn' %>
            <%= link_to  "Sign up", signup_path, class: 'nav-signup-btn' %>
        <% end %>
    </div>
<% end %>