<!DOCTYPE html>
<html>
  <head>
    <title>AdminDashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if logged_in? %>
        <%= "Sign in as #{current_user.email}" %>
        <%= link_to 'Sign out', logout_path %>
      <%else%>
        <%= link_to "Sign in", login_path %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
